.fancybox-wrap, .fancybox-wrap * {
	font-size: inherit;
	font-style: inherit;
	font-family: inherit;
	line-height: inherit;
	font-weight: inherit;
}

.fancybox-wrap strong, .fancybox-wrap b {
	font-weight: 700;
}

.fancybox-wrap i, .fancybox-wrap em {
	font-style: italic;
}